<header th:fragment="menu-home">
    <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
        <div class="container-fluid justify-content-center" id="navbarSupportedContent">
            <div>
                <a class="navbar-brand" href="#">
                    <img th:src="@{/imagens/sisyphus.png}" alt="Ícone" width="50" height="50">
                </a>
                <a class="navbar-brand text-white" href="#">SISYPHUS</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/coordenador/{coordenadorId}(coordenadorId=${coordenador.id})}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/coordenador/{coordenadorId}/processos(coordenadorId=${coordenador.id})}">Processos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/coordenador/{coordenadorId}/reunioes(coordenadorId=${coordenador.id})}">Reuniões</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <form class="container d-flex gap-3" th:action="@{/auth/logout}" method="POST">
                <button disabled class="btn btn-success" sec:authorize="isAuthenticated()" sec:authentication="name" style="margin-right: 3px; font-size: 1em;"></button>
                <button type="submit" class="btn btn-sucess my-2 my-sm-0" style="border: 1px solid white;">
                    Sair
                </button>
            </form>  
        </div>
    </nav>
</header>