<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Coordenadores</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
        <div class="container-fluid justify-content-center" id="navbarSupportedContent">
            <div>
                <a class="navbar-brand" href="#">
                    <img src="/sisyphus/src/main/resources/templates/sisiphus.png" alt="Ícone" width="50" height="50">
                </a>
                <a class="navbar-brand text-white" href="#">SISYPHUS</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disable text-white" aria-current="page" href="#">Processos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Assuntos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Reuniões</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header></header>
    <main>
        <div class="container">
            <h1>Painel de Coordenadores</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal"
                data-bs-whatever="@mdo">Cadastrar Coordenador</button>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="coordenador:${coordenadores}">
                    <td>[[${coordenador.id}]]</td>
                    <td th:text="${coordenador.professor.nome}"></td>
                    <td th:text="${coordenador.curso}"></td>
                    <td>
                        <form th:action="@{coordenadores/{id}/delete(id=${coordenador.id})}">
                            <button type="submit"  class="btn btn-danger">Excluir</button>
                        </form>
                        <form th:action="@{coordenadores/{id}(id=${coordenador.id})}">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
      
                    <!-- INICIO DO FORM -->
                    <form th:action="@{/coordenadores}" method="post" th:object="${coordenador}">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalLabel">Cadastrar Coordenador</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <input type="hidden" th:field="*{id}"><br>
                                <!--PROFESSOR-->
                                <div class="mb-3">
                                    <label for="professor" class="form-label">Professor:</label>
                                    <select required id="professor" th:field="*{professor.id}">
                                        <option th:each="professor:${professores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, Escolha um Professor.
                                    </div>
                                </div>

                                <!--CURSO-->
                                <div class="mb-3">
                                    <label for="curso" class="form-label">Curso:</label>
                                    <input type="text" id="curso" th:field="*{curso}" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Por favor, digite o curso.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                style="padding-left: 25px; padding-right:25px">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>

     <!-- FOOTER -->
    <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Sisyphus - IFPB </span>
      </div>
    </footer>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>