<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-adm}">

<body>
    <header th:replace="~{fragments/adm/menu-fragment :: adm-head}"></header>
    <div layout:fragment="content">
    <main>
        <div class="container">
            <h1 style="margin-top: 20px;margin-bottom: 20px;">Painel de Colegiados</h1>
            <hr>
            <a th:href="@{/colegiados/criar}" type="button" class="btn btn-primary"
                style="margin-bottom: 20px;">Cadastrar Colegiados</a>
            <div role="alert" id="alerta-sucesso" class="alert d-flex align-items-center alert-dismissible fade show" th:classappend="${colegiadoSalvo} ? 'alert-success' : ''">
                <div th:text="${mensagem}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Data Inicio</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="colegiado:${colegiados}">
                    <td>[[${colegiado.id}]]</td>
                    <td th:text="${colegiado.curso}"></td>
                    <td th:text="${colegiado.dataDoInicio}"></td>
                    <td>
                        <div class="btn-group">
                            <form style="margin-right: 10px;" th:action="@{colegiados/{id}/delete(id=${colegiado.id})}">
                                <button type="submit"  class="btn btn-danger">Excluir</button>
                            </form>
                            <form style="margin-right: 10px;" th:action="@{colegiados/{id}(id=${colegiado.id})}">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </form>
                                                      
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div th:replace="~{/fragments/paging :: paginator('colegiados', ${navPage})}" />
        </div>
    </main>
    <footer></footer>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>