<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-prof}">
<head>
  <meta th:insert="~{fragments/head-fragment :: head(titulo)}">
</head>
<body>
    <header th:replace="~{fragments/menu-prof :: menu-prof}"></header>
    <div layout:fragment="content">
    <main>
      <div class="container d-flex flex-column align-items-center">
        <h1>Olá, [[${professor.nome}]]! Bem-vindo ao Sistema Sisyphus</h1>
        <!-- <h3>[[${professor.nome}]]</h3> -->
        <img th:src="@{/imagens/sisy.png}" alt="Foto" width="100%" height="100%">
      </div>
    </main>
    
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>