<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
            <div class="container-fluid justify-content-center" id="navbarSupportedContent">
                <div>
                    <a class="navbar-brand" href="#">
                        <img th:src="@{/imagens/sisyphus.png}"  width="50" height="50"/>
                    <a class="navbar-brand text-white" href="#">SISYPHUS</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/professor/{id}(id=${professor.id})}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/professor/{id}/processos(id=${professor.id})}">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/professor/{id}/reunioes(id=${professor.id})}">Reuniões</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div style="margin: 30px;">
            <h1 style="margin-top: 20px">Reuniao de [[${reuniao.colegiado.descricao}]] - [[${reuniao.dataReuniao}]]</h1>
            <hr>
        </div>
        <!--FORM DE PROCESSO-->
        <form class="container" th:object="${reuniao}">
            <div class="row">
                <div class="mb-3">
                    <label for="data" class="form-label">Data da Reunião:</label>
                    <input disabled class="form-control" type="date" id="data" th:field="*{dataReuniao}"></input>
                </div>
                <div class="mb-3">
                    <label for="colegiado" class="form-label">Colegiado:</label>
                    <input class="form-control" disabled type="text" id="colegiado" th:value="${reuniao.colegiado.descricao}"></input>
                </div>
            </div>
            <div>
                <h3>Pauta:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Aluno</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Assunto</th>
                            <th scope="col">Relator</th>
                            <th scope="col">Decisão</th>
                            <th scope="col">Relator Votou?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="processo:${reuniao.processos}">
                            <td th:text="${processo.numero}?:'-'"></td>
        
                            <td th:if="${processo.aluno} == null">-</td>
                            <td th:unless="${processo.aluno} == null" th:text="${processo.aluno.nome}?:'-'"></td>
                            
                            <td th:text="${processo.estadoProcesso}?:'-'"></td>
        
                            <td th:if="${processo.assunto} == null">-</td>
                            <td th:unless="${processo.assunto} == null" th:text="${processo.assunto.nomeDoAssunto}"></td>
        
                            <td th:if="${processo.relator} == null">-</td>
                            <td th:unless="${processo.relator} == null" th:text="${processo.relator.nome}"></td>
                            <td th:if="${processo.tipoDecisao} == null" >-</td>
                            <td th:unless="${processo.tipoDecisao} == null" th:text="${processo.tipoDecisao}"></td>
                            <td th:if="${processo.tipoDecisao} == null">
                                <img style="width: 2rem;" th:src="@{/imagens/nao-votou.svg}" class="icon">
                            </td>
                            <td th:unless="${processo.tipoDecisao} == null">
                                <img style="width: 2rem;" th:src="@{/imagens/votou.svg}" class="icon">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>   
    </main>
    <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Sisyphus - IFPB </span>
        </div>
    </footer>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>