<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Colegiado - Página do Professor</title>
    <link rel="stylesheet" href="/sisyphus/src/main/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header th:fragment="menu-home">
        <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
            <div class="container-fluid justify-content-center" id="navbarSupportedContent">
                <div>
                    <a class="navbar-brand" href="#">
                        <img th:src="@{/imagens/sisyphus.png}" alt="Ícone" width="50" height="50">
                    </a>
                    <a class="navbar-brand text-white" href="#">SISYPHUS</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled text-white" aria-current="page" href="#">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Assuntos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Reuniões</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--LISTAGEM DE REUNIÕES--->    
    <div style="margin: 30px;">
        <h1 style="margin-top: 20px">Reuniões</h1>
        <hr>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
            <div class="btn-group">
                <label class="input-group-text" for="filterStatus">Status</label>
                    <select class="form-select" id="filterStatus">
                        <option selected>Todas</option>
                        <option value="Finalizada">Finalizada</option>
                        <option value="Agendada">Agendada</option>
                    </select>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1458746</th>
                    <td>04/02/2023</td>
                    <td>Finalizada</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            data-bs-whatever="@mdo">Consultar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- MODAL PARA VOTAR -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> Reunião #1458746</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="mb-3">
                                <p><strong>Nº:</strong> 1458746</p>
                                <p><strong>Solicitante:</strong>Frederico</p>
                                <p><strong>Assunto:</strong>Mudança de turno</p>
                                <p><strong>Data:</strong> 04/02/2023</p>
                                <p><strong>Relator:</strong> João </p>
                                <p><strong>Decisão:</strong>Deferido</p>
                                <p><strong>Status:</strong>Finalizada</p>
                                <p><strong>Ata da Reunião:</strong> Colocar pdf</p>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- FILTRO POR PESQUISA-->
    <script>
        $(document).ready(function () {
            $('#filterPesquisa').on('input', function () {
                var pesquisa = $('#filterPesquisa').val().toLowerCase();
                filterTable(pesquisa);
            });
    
            function filterTable(pesquisa) {
                var rows = $('table tbody tr');
                rows.show();
    
                rows.filter(function () {
                    var text = $(this).text().toLowerCase();
                    return (pesquisa && text.indexOf(pesquisa) === -1)
                }).hide();
            }
        });
    </script>
    
</body>
    <script src="/sisyphus/src/main/resources/js/bootstrap.bundle.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/popper.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/bootstrap.min.js"></script>
    </script>
</html>