<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout-prof}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo='Reunião do Professor')}">
</head>

<body>
    <header th:replace="~{fragments/prof/menu-prof :: menu-prof}"></header>
    <div layout:fragment="content">
        <main>
            <div style="margin: 30px;">
                <h1 style="margin-top: 20px">Reuniao de [[${reuniao.colegiado.descricao}]] - [[${reuniao.dataReuniao}]]</h1>
                <hr>
            </div>
            <!--FORM DE PROCESSO-->
            <form class="container" th:object="${reuniao}">
                <div class="row">
                    <div class="mb-3">
                        <label for="data" class="form-label">Data da Reunião:</label>
                        <input disabled class="form-control" type="date" id="data" th:field="*{dataReuniao}"></input>
                    </div>
                    <div class="mb-3">
                        <label for="colegiado" class="form-label">Colegiado:</label>
                        <input class="form-control" disabled type="text" id="colegiado" th:value="${reuniao.colegiado.descricao}"></input>
                    </div>
                </div>
                <div>
                    <h3>Pauta:</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Aluno</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Assunto</th>
                                <th scope="col">Relator</th>
                                <th scope="col">Decisão</th>
                                <th scope="col">Relator Votou?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="processo:${reuniao.processos}">
                                <td th:text="${processo.numero}?:'-'"></td>
            
                                <td th:if="${processo.aluno} == null">-</td>
                                <td th:unless="${processo.aluno} == null" th:text="${processo.aluno.nome}?:'-'"></td>
                                
                                <td th:text="${processo.estadoProcesso}?:'-'"></td>
            
                                <td th:if="${processo.assunto} == null">-</td>
                                <td th:unless="${processo.assunto} == null" th:text="${processo.assunto.assunto}"></td>
            
                                <td th:if="${processo.relator} == null">-</td>
                                <td th:unless="${processo.relator} == null" th:text="${processo.relator.nome}"></td>
                                <td th:if="${processo.tipoDecisao} == null" >-</td>
                                <td th:unless="${processo.tipoDecisao} == null" th:text="${processo.tipoDecisao}"></td>
                                <td th:if="${processo.tipoDecisao} == null">
                                    <img style="width: 2rem;" th:src="@{/imagens/nao-votou.svg}" class="icon">
                                </td>
                                <td th:unless="${processo.tipoDecisao} == null">
                                    <img style="width: 2rem;" th:src="@{/imagens/votou.svg}" class="icon">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>   
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>   


    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>