<!doctype html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisyphus</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body class="text-center">
    <div class="container d-flex flex-column">
        <h1>Quem é você?</h1>
        <br>
        <div class="container d-flex gap-3 align-self-center">
            <a th:href="@{/auth/aluno}" class="btn btn-lg btn-primary">Aluno</a>
            <a th:href="@{/auth/professor}" class="btn btn-lg btn-primary">Professor</a>
            <a th:href="@{/auth/coordenador}" class="btn btn-lg btn-primary">Coordenador</a>
            <a th:href="@{/auth/administrador}" class="btn btn-lg btn-primary">Administrador</a>
        </div>
    </div>
</body>
</html>
