<!doctype html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisyphus</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body class="text-center">
    <form class="form-signin" th:action="@{/auth/login}" method="POST">
        <div class="centered">
            <img class="mb-4" th:src="@{/imagens/sisyphus.png}">
            <h1 class="h3 mb-3 font-weight-normal autentique">Por favor, autentique-se</h1>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error} ">
                Login e/ou senha inválidos!
            </div>
            
            <label for="username" class="sr-only">Usuário</label> 
            <input type="text" class="form-control input-login" placeholder="Usuário" required autofocus name="username"> 
            
            <label for="password" class="sr-only">Senha</label>
            <input type="password" class="form-control input-login" placeholder="Senha" required name="password">
            
            <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</body>
</html>
