<!doctype html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisyphus</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body class="text-center">
    <form class="form-signin" th:action="@{/auth/aluno}" method="POST" th:object=${aluno}>
        <div class="centered">
            <img class="mb-4" th:src="@{/imagens/sisyphus.png}">
            <h1 class="h3 mb-3 font-weight-normal autentique">Por favor, autentique-se</h1>
            <div 
                th:if="${not #strings.isEmpty(mensagem)}"
                th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; 
            data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'"
            class="alert alert-danger alert-dismissible fade show" role="alert">
            </div>
            <label for="usuario" class="sr-only">Usuário</label> 
            <input type="text" class="form-control input-login" placeholder="Usuário" autofocus th:field="*{usuario}"> 
            <label for="senha"class="sr-only">Senha</label>
            <input type="password" class="form-control input-login" placeholder="Senha" th:field="*{senha}">
            <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</body>
</html>
