<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Curso</title>
    <link rel="stylesheet" href="/sisyphus/src/main/resources/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Painel de Cursos</h1>
        <button type="button" class="btn btn-info">Criar Curso</button>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Código</th>
                <th scope="col">Coordenador</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Sistemas Para Internet</td>
                <td>TSI</td>
                <td>Cândido</td>
                <td><button type="button" class="btn btn-danger">Excluir</button>
                    <button type="button" class="btn btn-primary">Editar</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <script src="/sisyphus/src/main/resources/js/bootstrap.bundle.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/popper.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/bootstrap.min.js"></script>
</body>
</html>