<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-adm}">

<body class="d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/adm/menu-fragment :: adm-head}"></header>
    <div layout:fragment="content">
    <main class="flex-grow-1 d-flex">
        <div class="welcome-message d-flex align-items-center justify-content-center p-5">
            <div>
                <h1>Seja bem-vindo ao Sisyphus!</h1>
                <!-- Adicione outras mensagens conforme necessário -->
            </div>
        </div>
        <div class="image-container">
            <img th:src="@{/imagens/sisy.png}" alt="Foto" width="100%" height="100%">
        </div>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>