<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sisyphus/src/main/resources/css/bootstrap.min.css">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Painel de Controle</h1>
    <ul>
        <li><a href="localhost:8080/administrador/aluno">Aluno</a></li>
        <li><a href="">Professor</a></li>
    </ul>
    <script src="/sisyphus/src/main/resources/js/bootstrap.bundle.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/popper.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/bootstrap.min.js"></script>
</body>
</html>