<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisyphus</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
            <div class="container-fluid justify-content-center" id="navbarSupportedContent">
                <div>
                    <a class="navbar-brand" href="#">
                        <img th:src="@{/imagens/sisyphus.png}"  width="50" height="50"/>
                    </a>
                </div>
                <a class="navbar-brand text-white" href="#">SISYPHUS</a>
            </div>
        </nav>
    </header>
    <main>
        <main>
            <div class="container">
              <h1 class="text-center">Bem Vindo ao Sistema Sisyphus</h1>
              <hr>
              <div class="row justify-content-center">
                  <img class="img-fluid" th:src="@{imagens/sisyphus-wallpaper.jpg}">
              </div>
            </div>
      
          </main>
    </main>
    <footer></footer>

     <!-- FOOTER -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Sisyphus - IFPB </span>
      </div>
    </footer>
  </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>