<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout-aluno}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo='Página do Aluno')}">
</head>

<body>
    <header th:replace="~{fragments/adm/menu-fragment :: adm-head}"></header>
    <div layout:fragment="content">
        <main>
            <div class="container" >
                <h1 style="margin-bottom: 20px;margin-top: 20px;" th:text="${acao} == 'salvar' ? 'Criar Curso' : 'Editar Curso'"></h1>
                <!-- INICIO DO FORM -->
                <form th:action="${acao} == 'salvar' ? @{/cursos/criar} : @{/cursos/{id}(id=${curso.id})}" method="post" th:object="${curso}">
            
                    <div class="modal-body">
                        <div class="row">
                            <input type="hidden" th:field="*{id}"><br>
                            <!--NOME-->
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome do Curso:</label>
                                <input type="text" id="nome" th:field="*{nome}" class="form-control">
                                <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}" class="alert alert-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a th:href="@{/cursos}"  class="btn btn-secondary" style="margin-right: 10px;">Fechar</a>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            style="padding-left: 25px; padding-right:25px">Salvar</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>   
  
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
