<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout-adm}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo='Página do Curso')}">
</head>

<body>
    <header th:replace="~{fragments/adm/menu-fragment :: adm-head}"></header>
    <div layout:fragment="content">
        <main>
            <div class="container">
                <h1 class="teste" style="margin-top: 20px;margin-bottom: 20px;">Painel de Cursos</h1>
                <hr>
                <a th:href="@{cursos/criar}" class="btn btn-primary"
                style="margin-bottom: 20px;">Cadastrar Curso</a>

                    <!-- <div role="alert" id="alerta-sucesso" class="alert d-flex align-items-center alert-dismissible fade show"th:classappend="${assuntoSalvo} ? 'alert-success' : ''">
                        <div th:text="${mensagem}"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div> -->
                    <div role="alert" class="alert d-flex align-items-center alert-dismissible fade show alert-success" th:if="${cursosSalvo}">
                        <div th:text="${mensagem}"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
                    <div role="alert" class="alert d-flex align-items-center alert-dismissible fade show alert-danger" th:if="${cursosDeletado}">
                        <div th:text="${mensagem}"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
                    <div role="alert" class="alert d-flex align-items-center alert-dismissible fade show alert-info" th:if="${cursosEditado}">
                        <div th:text="${mensagem}"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="curso:${cursos}">
                        <td>[[${curso.id}]]</td>
                        <td th:text="${curso.nome}"></td>
                        <td>
                            <div class="btn-group">
                                <form style="margin-right: 10px;" th:action="@{cursos/{id}/delete(id=${curso.id})}">
                                    <button type="submit"  class="btn btn-danger">Excluir</button>
                                </form>
                                <form th:action="@{cursos/{id}(id=${curso.id})}">
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                </form>
                            </div>            
                            
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
  
  <div th:replace="~{fragments/footer :: footer}"></div>   
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>