<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout-aluno}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo='Página do Aluno')}">
</head>

<body>
    <header th:replace="~{fragments/adm/menu-fragment :: adm-head}"></header>
    <div layout:fragment="content"> 
        <div class="container">
            <h1 style="margin-top: 20px;margin-bottom: 20px;">Painel de Alunos</h1>
            <hr>
            <a th:href="@{alunos/criar}" type="button" class="btn btn-primary"
                    style="margin-bottom: 20px;">Cadastrar Aluno</a>

            <div role="alert" id="alerta-sucesso" class="alert d-flex align-items-center alert-dismissible fade show" th:if="${mensagem ne null}" th:classappend="${alunoSalvo} ? 'alert-success' : ''">
                <div th:text="${mensagem}"></div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
                
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Matrícula</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Opções</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aluno:${alunos}">
                    <td>[[${aluno.id}]]</td>
                    <td th:text="${aluno.nome}"></td>
                    <td th:text="${aluno.matricula}"></td>
                    <td th:text="${aluno.curso}"></td>
                    <td th:text="${aluno.telefone}"></td>
                    <td>
                        <div class="btn-group">
                            <form style="margin-right: 10px;" th:action="@{alunos/{id}/delete(id=${aluno.id})}">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                            <form th:action="@{alunos/{id}(id=${aluno.id})}">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </form>
                        </div>                    
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>   

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>