<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Alunos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
            <div class="container-fluid justify-content-center" id="navbarSupportedContent">
                <div>
                    <a class="navbar-brand" href="#">
                        <img th:src="@{/imagens/sisyphus.png}"  width="50" height="50"/>
                    <a class="navbar-brand text-white" href="#">SISYPHUS</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/administrador}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/assuntos}">Assuntos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/alunos}">Aluno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/professores}">Professor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disable text-white" aria-current="page" href="#">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/colegiados}">Colegiado</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
     
    <div class="container">
        <h1 style="margin-top: 20px;margin-bottom: 20px;">Painel de Alunos</h1>
        <hr>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAluno"
                data-bs-whatever="@mdo" style="margin-bottom: 20px;">Cadastrar Aluno</button>

        <div role="alert" id="alerta-sucesso" class="alert d-flex align-items-center alert-dismissible fade show" th:if="${mensagem ne null}" th:classappend="${alunoSalvo} ? 'alert-success' : ''">
            <div th:text="${mensagem}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Telefone</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="aluno:${alunos}">
                <td>[[${aluno.id}]]</td>
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.matricula}"></td>
                <td th:text="${aluno.fone}"></td>
                <td>
                    <div class="btn-group">
                        <form style="margin-right: 10px;" th:action="@{alunos/{id}/delete(id=${aluno.id})}">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                        <form th:action="@{alunos/{id}(id=${aluno.id})}">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>                    
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="modal fade" id="modalAluno" tabindex="-1" aria-labelledby="modalAlunoLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <!-- INICIO DO FORM -->
              <form th:action="@{/alunos}" method="POST" th:object="${aluno}">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="modalAlunoLabel">Cadastrar Aluno</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      
                      <div role="alert" id="alerta-sucesso" class="alert d-flex align-items-center alert-dismissible fade show" th:classappend="${assuntoSalvo} ? 'alert-success' : ''">
                        <div th:text="${mensagem}"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <input type="hidden" th:field="*{id}"><br>
                          <!--NOME-->
                          <div class="mb-3">
                              <label for="nomeAluno" class="form-label">Nome:</label>
                              <input type="text" id="nomeAluno" th:field="*{nome}" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, digite o Nome.
                              </div>
                          </div>

                          <!--FONE-->
                          <div class="mb-3">
                              <label for="telefoneAluno" class="form-label">Telefone:</label>
                              <input type="text" id="telefoneAluno" th:field="*{fone}" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, digite o Telefone.
                              </div>
                          </div>

                          <!--MATRICULA-->
                          <div class="mb-3">
                              <label for="matriculaAluno" class="form-label">Matricula:</label>
                              <input type="text" id="matriculaAluno" th:field="*{matricula}" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, digite o Matricula.
                              </div>
                          </div>

                          <!--LOGIN-->
                          <div class="mb-3">
                              <label for="loginAluno" class="form-label">Login:</label>
                              <input type="text" id="loginAluno" th:field="*{login}" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, digite o login.
                              </div>
                          </div>

                          <!--SENHA-->
                          <div class="mb-3">
                              <label for="senhaAluno" class="form-label">Senha:</label>
                              <input type="password" id="senhaAluno" th:field="*{senha}" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, digite o senha.
                              </div>
                          </div>
                        

                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                          style="padding-left: 25px; padding-right:25px">Salvar</button>
                  </div>
              </form>
              
          </div>
      </div>
  </div>
 

  <!-- FOOTER -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Sisyphus - IFPB </span>
      </div>
    </footer>
  </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>