<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-coord}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo)}">
</head>

<body>
    <header th:replace="~{fragments/menu-home :: menu-home}"></header>
    <div layout:fragment="content">
    <main>
        <div style="margin: 30px;">
            <h1 style="margin-top: 20px">Criar Reuniao de [[${colegiado.descricao}]]</h1>
            <hr>
        </div>
        <!--FORM DE PROCESSO-->
        <form class="container" th:action="@{'/coordenador/' + ${coordenador.id} + '/reunioes/criar'}" method="post" th:object="${reuniao}">
            <div>
                <div class="row">
                    <input type="hidden" th:field="*{id}"><br>
                    <div class="mb-3 col-md-6">
                        <label for="data" class="form-label">Data da Reunião:</label>
                        <input class="form-control" type="date" id="data" th:field="*{dataReuniao}"></input>
                        <p th:if="${#fields.hasErrors('dataReuniao')}" th:errorclass="error" th:errors="*{dataReuniao}" class="alert alert-danger"></p>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="colegiado" class="form-label">Colegiado:</label>
                        <input class="form-control" disabled type="text" id="colegiado" th:value="${colegiado.descricao}"></input>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Selecione a Pauta:</h3>
                <div class="col-md-4" th:each="processo, itemStat : ${processosEscolhidos}">
                    <div class="mb-3">
                        <label for="processo" class="form-label">Processo [[${itemStat.index+1}]]: </label>
                        <select class="form-select" id="processo" th:field="*{processos[__${itemStat.index}__]}">
                            <option th:value="null">-</option>
                            <option th:each="processo: ${processosDisponiveis}" th:value="${processo.id}" th:text="${processo}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </form>       
    </main>
    <script th:src="@{/js/bootstrap.buddle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
</body>
</html>