<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-coord}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo)}">
    <link rel="stylesheet" th:href="@{/css/painelReuniao.css}">
</head>

<body>
    <header th:replace="~{fragments/menu-home :: menu-home}"></header>
    <div layout:fragment="content">
    <main>
        <div style="margin: 30px;">
            <h1 style="margin-top: 20px">Reuniao de [[${reuniao.colegiado.descricao}]] - [[${reuniao.dataReuniao}]]</h1>
            <hr>
        </div>
        <div class="container d-flex">
            <div id="pauta">
                <h4>Pauta:</h4>
                <div id="numsProcessos" th:each="processoPauta:${reuniao.processos}">
                    <a class="numprocesso" th:href="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}/painel/{idProcesso}(coordenadorId=${coordenador.id},idReuniao=${reuniao.id},idProcesso=${processoPauta.id})}">[[${processoPauta.numero}==${processo.numero}?'> ':'']][[${processoPauta.numero}]]</a>
                </div>
                <form th:action="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}/painel/encerrar(coordenadorId=${coordenador.id},idReuniao=${reuniao.id})}" method="post">
                    <button style="margin-top: 1rem;" class="btn btn-primary" type="submit">Encerrar Reunião</button>
                </form>
            </div>
            <div id="ProcessoEmJulgamento" class="container">
                <h4>Processo em Julgamento:</h4>
                <div id="DadosProcesso">
                    <form class="container">
                        <div class="row mt-2">
                            <!--Número do Processo-->
                            <div class="col">
                                <label class="form-label" >Número:</label>
                                <input disabled class="form-control" type="text" th:value="${processo.numero}">
                            </div>
                            <!--Assunto-->
                            <div class="col">
                                <label class="form-label" for="">Assunto:</label>
                                <input disabled class="form-control" type="text" th:value="${processo.assunto}">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <!--Aluno-->
                            <div class="col">
                                <label class="form-label" for="">Aluno:</label>
                                <input disabled class="form-control" type="text" th:value="${processo.aluno.nome}">
                            </div>
                            <!--Relator-->
                            <div class="col">
                                <label class="form-label" for="">Relator:</label>
                                <input disabled class="form-control" type="text" th:value="${processo.relator.nome}">
                            </div>
                        </div>

                        

                        <!--Justificativa do Aluno-->
                        <div class="col">
                            <label class="form-label">Motivo do Requerimento:</label>
                            <textarea disabled class="form-control" type="text" th:text="${processo.textoRequerimento}" rows="4"></textarea>
                        </div>
                        
                        <!--Decisão do Relator-->
                        <div class="col">
                            <label class="form-label" for="">Decisão do Relator:</label>
                            <input disabled class="form-control" type="text" th:value="${processo.tipoDecisao}">
                        </div>

                        <!--Justificativa do Relator-->
                        <div class="col">
                            <label class="form-label" for="">Justificativa do Relator:</label>
                            <textarea disabled class="form-control" type="text" th:text="${processo.justificativaRelator}" rows="4"></textarea>
                        </div>
                        
                    </form>
                </div>
                <div  id="votosMembros" class="container">
                    <hr>
                    <h4>Votos:</h4>
                    <form class="container row" th:action="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}/painel/{idProcesso}(coordenadorId=${coordenador.id},idReuniao=${reuniao.id},idProcesso=${processo.id})}" th:object="${processo}" method="post">
                        <div class="col-sm-6" th:each="voto,itemStat:${processo.listaDeVotos}">
                            <input type="hidden" th:field="*{listaDeVotos[__${itemStat.index}__].id}">
                            <input type="hidden" th:field="*{listaDeVotos[__${itemStat.index}__].professor}" th:value="${voto.professor.id}">
                            <input type="hidden" th:field="*{listaDeVotos[__${itemStat.index}__].processo}" th:value="${processo.id}">
                            <label class="form-label">[[${voto.professor.nome}]]:</label>
                            <select class="form-select" th:field="*{listaDeVotos[__${itemStat.index}__].tipoVoto}">
                                <option th:value="${comRelator}">Com Relator</option>
                                <option th:value="${divergente}">Divergente</option>
                                <option th:value="${ausente}">Ausente</option>
                            </select>
                        </div>
                        <div class="col d-flex" style="margin-top: 1rem;">
                            <button class="btn btn-success" th:if="${processo.estadoProcesso}==${emJulgamento}" type="submit">Concluir Processo</button>
                            <button disabled class="btn btn-success align-self-center" th:unless="${processo.estadoProcesso}==${emJulgamento}"> Processo Concluído</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>