<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordenador</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
            <div class="container-fluid justify-content-center" id="navbarSupportedContent">
                <div>
                    <a class="navbar-brand" href="#">
                        <img th:src="@{/imagens/sisyphus.png}"  width="50" height="50"/>
                    <a class="navbar-brand text-white" href="#">SISYPHUS</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/coordenador/{coordenadorId}(coordenadorId=${coordenador.id})}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/coordenador/{coordenadorId}/processos(coordenadorId=${coordenador.id})}">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/coordenador/{coordenadorId}/reunioes(coordenadorId=${coordenador.id})}">Reuniões</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div style="margin: 30px;">
            <h1 style="margin-top: 20px">Reuniao de [[${reuniao.colegiado.descricao}]] - [[${reuniao.dataReuniao}]]</h1>
            <hr>
        </div>
        <div class="container">
            <div id="pauta">
                Pauta:
                <div id="numsProcessos" th:each="processo:${reuniao.processos}">
                    <a th:href="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}/painel/{idProcesso}(coordenadorId=${coordenador.id},idReuniao=${reuniao.id},idProcesso=${processo.id})}">[[${processo.numero}]]</a>
                </div>
                <form th:action="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}/painel/encerrar(coordenadorId=${coordenador.id},idReuniao=${reuniao.id})}" method="post">
                    <button type="submit">Encerrar Reunião</button>
                </form>
            </div>
            <div id="ProcessoEmJulgamento">
                Processo em Julgamento:
                <div id="DadosProcesso">
                    <form>
                        <!--Número do Processo-->
                        <div class="row">
                            <label for="">Número:</label>
                            <input type="text" th:value="${processo.numero}">
                        </div>
                        <!--Aluno-->
                        <div class="row">
                            <label for="">Aluno:</label>
                            <input type="text" th:value="${processo.aluno.nome}">
                        </div>
                        <!--Assunto-->
                        <div class="row">
                            <label for="">Assunto:</label>
                            <input type="text" th:value="${processo.assunto}">
                        </div>
                        <!--Relator-->
                        <div class="row">
                            <label for="">Relator:</label>
                            <input type="text" th:value="${processo.relator.nome}">
                        </div>
                        <!--Decisão do Relator-->
                        <div class="row">
                            <label for="">Decisão do Relator:</label>
                            <input type="text" th:value="${processo.tipoDecisao}">
                        </div>
                        <!--Justificativa do Relator-->
                        <div class="row">
                            <label for="">Justificativa do Relator:</label>
                            <textarea type="text" th:text="${processo.justificativaRelator}" rows="4"></textarea>
                        </div>
                        <!--Justificativa do Aluno-->
                        <div class="row">
                            <label for="">Motivo do Requerimento:</label>
                            <textarea type="text" th:text="${processo.textoRequerimento}" rows="4"></textarea>
                        </div>
                    </form>
                </div>
                <div id="votosMembros">
                    <hr>
                    Votos:
                    <form th:action="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}/painel/{idProcesso}(coordenadorId=${coordenador.id},idReuniao=${reuniao.id},idProcesso=${processo.id})}" th:object="${processo}" method="post">
                        <div class="row" th:each="voto,itemStat:${processo.listaDeVotos}">
                            <input type="hidden" th:field="*{listaDeVotos[__${itemStat.index}__].id}">
                            <input type="hidden" th:field="*{listaDeVotos[__${itemStat.index}__].professor}" th:value="${voto.professor.id}">
                            <input type="hidden" th:field="*{listaDeVotos[__${itemStat.index}__].processo}" th:value="${processo.id}">
                            <label>[[${voto.professor.nome}]]:</label>
                            <select th:field="*{listaDeVotos[__${itemStat.index}__].tipoVoto}">
                                <option th:value="${comRelator}">Com Relator</option>
                                <option th:value="${divergente}">Divergente</option>
                                <option th:value="${ausente}">Ausente</option>
                            </select>
                        </div>
                        <button th:if="${processo.estadoProcesso}==${emJulgamento}" type="submit">Concluir Processo</button>
                        <p th:unless="${processo.estadoProcesso}==${emJulgamento}"> Processo Concluído</p>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Sisyphus - IFPB </span>
        </div>
    </footer>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>