<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout-coord}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo='Página do Coordenador')}">
</head>

<body>
  <header th:replace="~{fragments/menu-coord :: menu-coord}"></header>
    <div layout:fragment="content">
        <main>
            <!--LISTAGEM--->
            <div style="margin: 30px;">
                <h1 style="margin-top: 20px">Distribuir Processo - #[[${processo.numero}]]</h1>
                <hr>
            </div>
            <!-- PROCESSO -->
            <div class="container">
                <div class="row">
                    <div class="container col fs-4 border border-black p-4">Aluno: [[${processo.aluno.nome}]]</div>
                    <div class="container col fs-4 border border-black p-4">
                        Relator: <button 
                                    th:if="${processo.relator} == null" 
                                    data-bs-target="#modal"
                                    data-bs-toggle="modal" 
                                    class="btn btn-primary"
                                    >Atribuir Relator</button>
                                    <span th:unless="${processo.relator} == null">[[${processo.relator.nome}]]</span>
                    </div>
                </div>
                <div class="row">
                    <div class="container col fs-4 border border-black">Data de Criação: [[${processo.dataDeCriacao}]]</div>
                    <div class="container col fs-4 border border-black">Data de Distribuição: [[${processo.dataDeDistribuicao}?:'-']]</div>
                    <div class="container col fs-4 border border-black">Data do Parecer: [[${processo.dataDoParecer}?:'-']]</div>
                </div>
                <div class="row">
                    <div class="container col fs-4 border border-black p-4">Documento do Parecer: [[${processo.justificativaRelator}?:'-']]</div>
                    <div class="container col fs-4 border border-black p-4">Documentos do Aluno: 
                        <span th:if="${processo.documentos} != null">1 Documento</span>
                        <span th:unless="${processo.documentos} != null">Nenhum Documento Anexado</span>
                    </div>  
                </div>
                <div class="row">
                    <div class="container col fs-4 border border-black p-4">Colegiado: [[${processo.colegiado}?:'-']]</div>
                    <div class="container col fs-4 border border-black p-4">Assunto: [[${processo.assunto.assunto}]]</div>
                </div>
                <div class="row">
                    <div class="container col fs-4 border border-black p-4">Decisão: [[${processo.tipoDecisao}?:'-']]</div>
                    <div class="container col fs-4 border border-black p-4">Estado do Processo: [[${processo.estadoProcesso}]]</div>
                </div>
                <div class="row">
                    <div class="container col fs-4 border border-black p-4">Texto de Requerimento: [[${processo.textoRequerimento}]]</div>
                </div>
            </div>

            <!-- MODAL PRA ESCOLHER O RELATOR -->
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!--FORM DO RELATOR-->
                        <form th:action="@{/coordenador/{idCoordenador}/processos/{id}(idCoordenador=${coordenador.id},id=${processo.id})}" method="post" th:object="${processo}">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalLabel">Atribuir Relator</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <input type="hidden" th:field="*{id}"><br>
                                    <div class="mb-3">
                                        <label for="relator" class="form-label">Selecione um Relator:</label>
                                        <select required id="relator" th:field="*{relator}">
                                            <option th:each="professor:${professores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                    style="padding-left: 25px; padding-right:25px">Atribuir Relator</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>   
    <script th:src="@{/js/bootstrap.buddle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
</body>
</html>