<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-coord}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo)}">
</head>

<body>
    <header th:replace="~{fragments/menu-home :: menu-home}"></header>
    <div layout:fragment="content">
    <main>
        <div style="margin: 30px">
            
            <h1 style="margin-top: 20px">Distribuir Processo - #[[${processo.numero}]]</h1>
            <hr>
            
            <div class="row">
                <div class="col">
                    <h3>Data de Criação</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.dataDeCriacao}]]</label>
                    </div>
                </div>
                <div class="col">
                    <h3>Aluno</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.aluno.nome}]]</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <h3>Assunto</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.assunto.nomeDoAssunto}]]</label>
                    </div>
                </div>
                <div class="col">
                    <h3>Relator</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" disabled>
                        <label for="floatingInputDisabled"></label>
                        <span th:if="${processo.relator} == null" >
                            <button data-bs-target="#modal"
                                    data-bs-toggle="modal"
                                    class="btn btn-primary">Atribuir Relator</button>
                                    <span th:unless="${processo.relator} == null">[[${processo.relator.nome}]]</span>
                                    
                        </span>
                        
                    </div>
                </div>
                
                <div class="col">
                    <h3>Estado</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.estadoProcesso}]]</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Data de Distribuição</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.dataDeDistribuicao}?:'-']]</label>
                    </div>
                </div>
                <div class="col">
                    <h3>Data do Parecer</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.dataDoParecer}?:'-']]</label>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <h3>Justificativa</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.justificativaRelator}?:'-']]</label>
                    </div>
                </div>
                <div class="col">
                    <h3>Documentos do Aluno</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled"><span th:if="${processo.documentos} != null">1 Documento</span></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Documentos</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled"><span th:unless="${processo.documentos} != null">Nenhum Documento Anexado</span></label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">

                <div class="col">
                    <h3>Colegiado</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.colegiado}?:'-']]</label>
                    </div>
                </div>
                <div class="col">
                    <h3>Assunto</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.assunto.nomeDoAssunto}]]</label>
                    </div>
                </div>
                <div class="col">
                    <h3>Estado do processo</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.estadoProcesso}]]</label>
                    </div>
                </div>
                <div class="col">
                    <h3>Decisão</h3>
                    <div class="form-floating mb-3" style="font-size: 18px;">
                        <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                        <label for="floatingInputDisabled">[[${processo.tipoDecisao}?:'-']]</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Texto de Requerimento</h3>
                <div class="form-floating mb-3" style="font-size: 18px;">
                    <input type="text" class="form-control" id="floatingInputDisabled" placeholder="" disabled>
                    <label for="floatingInputDisabled">[[${processo.textoRequerimento}]]</label>
                </div>
            </div>
            
        </div>

        <!-- MODAL PRA ESCOLHER O RELATOR -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--FORM DO RELATOR-->
                    <form th:action="@{/coordenador/{idCoordenador}/processos/{id}(idCoordenador=${coordenador.id},id=${processo.id})}" method="post" th:object="${processo}">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalLabel">Atribuir Relator</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <input type="hidden" th:field="*{id}"><br>
                                <div class="mb-3">
                                    <label for="relator" class="form-label"></label>
                                    <select class="form-select" required id="relator" th:field="*{relator}" aria-label="Default select example">
                                        <option th:each="professor:${professores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                style="padding-left: 25px; padding-right:25px">Atribuir Relator</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/js/bootstrap.buddle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
</body>
</html>