<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-adm}">
<body>
    <header th:replace="~{fragments/adm/menu-fragment :: adm-head}"></header>
    <div layout:fragment="content">
    <main>
        <div class="container" >
            <h1 style="margin-bottom: 20px;margin-top: 20px;">[[${acao} == 'salvar' ? 'Criar' : 'Editar']] Assunto</h1>
            <!-- INICIO DO FORM -->
            <form th:action="${acao} == 'salvar' ? @{/assuntos/criar} : @{/assuntos/{id}(id=${assunto.id})}" method="post" th:object="${assunto}">
        
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" th:field="*{id}"><br>
                        <!--NOME-->
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome do Assunto:</label>
                            <input type="text" id="nome" th:field="*{nomeDoAssunto}" class="form-control">
                            <p th:if="${#fields.hasErrors('nomeDoAssunto')}" th:errorclass="error" th:errors="*{nomeDoAssunto}" class="alert alert-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a th:href="@{/assuntos}"  class="btn btn-secondary" style="margin-right: 10px;">Fechar</a>
                    <button type="submit" class="btn btn-primary"
                        style="padding-left: 25px; padding-right:25px">Salvar</button>
                </div>
            </form>
        </div>
    </main>
  
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
