<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Assuntos</title>
    <link rel="stylesheet" href="/sisyphus/src/main/resources/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <h1>Painel de Assuntos</h1>
        <button type="button" class="btn btn-info">Criar Aluno</button>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="assunto:${assuntos}">
                <td>[[${assunto.id}]]</td>
                <td th:text="${assunto.nome}"></td>
                <td><button type="button" class="btn btn-danger">Excluir</button>
                    <button type="button" class="btn btn-primary">Editar</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <script src="/sisyphus/src/main/resources/js/bootstrap.bundle.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/popper.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/bootstrap.min.js"></script>
</body>
</html>