<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-adm}">

<body>
    <header th:replace="~{fragments/adm/menu-fragment :: adm-head}"></header>
    <div layout:fragment="content">

    <main >
        <div class="container">
            <h1 style="margin: 20px;margin-bottom: 20px;">[[${acao} == 'salvar' ? 'Criar' : 'Editar']] Professor</h1>
            <hr>
            <!-- INICIO DO FORM -->
            <form th:action="${acao} == 'salvar' ? @{/professores/criar} : @{/professores/{id}(id=${professor.id})}" method="POST" th:object="${professor}">
                
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" th:field="*{id}"><br>
                        <!--NOME-->
                        <div class="mb-3 col-md-6">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="text" id="nome" th:field="*{nome}" class="form-control">
                            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}" class="alert alert-danger"></p>
                        </div>

                        <!--FONE-->
                        <div class="mb-3 col-md-6">
                            <label for="telefone" class="form-label">Telefone:</label>
                            <input type="text" id="telefone" th:field="*{telefone}" class="form-control">
                            <p th:if="${#fields.hasErrors('telefone')}" th:errorclass="error" th:errors="*{telefone}" class="alert alert-danger"></p>
                        </div>

                        <!--MATRICULA-->
                        <div class="mb-3 col-md-6">
                            <label for="matricula" class="form-label">Matricula:</label>
                            <input type="text" id="matricula" th:field="*{matricula}" class="form-control">
                            <p th:if="${#fields.hasErrors('matricula')}" th:errorclass="error" th:errors="*{matricula}" class="alert alert-danger"></p>
                        </div>

                        <!--CURSO-->
                        <div class="mb-3 col-md-6">
                            <label for="curso" class="form-label">Curso:</label>
                            <select class="form-select" required id="curso" th:field="*{curso}">
                                <option th:each="curso: ${cursos}" th:value="${curso.id}" th:text="${curso.nome}"></option>
                            </select>
                        </div>

                        <!--LOGIN-->
                        <div class="mb-3">
                            <label for="login" class="form-label">Login:</label>
                            <input type="text" id="login" th:field="*{usuario}" class="form-control">
                            <p th:if="${#fields.hasErrors('usuario')}" th:errorclass="error" th:errors="*{usuario}" class="alert alert-danger"></p>
                            
                        </div>

                        <!--SENHA-->
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha:</label>
                            <input type="password" id="senha" th:field="*{senha}" class="form-control">
                            <p th:if="${#fields.hasErrors('senha')}" th:errorclass="error" th:errors="*{senha}" class="alert alert-danger"></p> 
                        </div>

                        
                    </div>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 10px;" th:href="@{/professores}" class="btn btn-secondary" >Fechar</a>
                    <button type="submit" class="btn btn-primary"
                        style="padding-left: 25px; padding-right:25px">Salvar</button>
                </div>
            </form>
        </div>
        
    </main>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>