<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Professor</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
            <div class="container-fluid justify-content-center" id="navbarSupportedContent">
                <div>
                    <a class="navbar-brand" href="#">
                        <img th:src="@{/imagens/sisyphus.png}"  width="50" height="50"/>
                    <a class="navbar-brand text-white" href="#">SISYPHUS</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/administrador}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/assuntos}">Assuntos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/alunos}">Aluno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/professores}">Professor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disable text-white" aria-current="page" href="#">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/colegiados}">Colegiado</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
      <div class="container">
          <h1 style="margin-top:20px;margin-bottom: 20px;">Painel de Professores</h1>
          <hr>
          <a th:href="@{professores/criar}" class="btn btn-primary" 
          style="margin-bottom: 20px;">Criar Professor</a>
          <div role="alert" id="alerta-sucesso" class="alert d-flex align-items-center alert-dismissible fade show" th:classappend="${professoresSalvo} ? 'alert-success' : ''">
            <div th:text="${mensagem}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Matrícula</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Opções</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="professor:${professores}">
                  <td>[[${professor.id}]]</td>
                  <td th:text="${professor.nome}"></td>
                  <td th:text="${professor.fone}"></td>
                  <td th:text="${professor.matricula}"></td>
                  <td>
                    <div class="btn-group">
                        <form style="margin-right: 10px;" th:action="@{professores/{id}/delete(id=${professor.id})}">
                             <button type="submit"  class="btn btn-danger">Excluir</button>
                        </form>
                        <form th:action="@{professores/{id}(id=${professor.id})}">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </main>
    <footer></footer>

     <!-- FOOTER -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Sisyphus - IFPB </span>
      </div>
    </footer>
  </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>