<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Colegiado - Página do Aluno</title>
    <link rel="stylesheet" href="/sisyphus/src/main/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-success p-2 text-white" >
        <div class="container-fluid" class="justify-content-center" id="navbarSupportedContent">
           <div>
            <a class="navbar-brand" href="#">
                <img src="/sisyphus/src/main/resources/templates/sisiphus.png" alt="Ícone" width="50" height="50">
              </a>
          <a class="navbar-brand text-white" href="#">SISYPHUS</a>
           </div> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" class="nav justify-content-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disable text-white" aria-current="page" href="#">Processos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div style="margin: 30px;">
        <h1 style="margin-top: 20px">Processos</h1>
        <hr>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">Cadastrar processo</button>
            <div class="btn-group">
                <div class="col-auto" style="margin-right: 20px;">
                    <label class="visually-hidden" for="autoSizingInputGroup">Pesquisa</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="autoSizingInputGroup"
                            placeholder="Pesquisar assunto">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Status</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Filtrar...</option>
                        <option value="1">Criado</option>
                        <option value="2">Distribuído</option>
                        <option value="3">Em pauta</option>
                        <option value="3">Em julgamento</option>
                        <option value="3">Julgado</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Assunto</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1458746</th>
                    <td>Trancamento de matrícula</td>
                    <td><button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-primary">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar processo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                        <div class="row">
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Assunto:</label>
                                <input type="text" id="assunto" class="form-control" required title="Por favor, preencha este campo.">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Justificativa:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="inputGroupFile02">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                style="padding-left: 25px; padding-right:25px">Salvar</button>
                        </div>
                </div>
            </form>
</body>
    <script src="/sisyphus/src/main/resources/js/bootstrap.bundle.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/popper.min.js"></script>
    <script src="/sisyphus/src/main/resources/js/bootstrap.min.js"></script>
    </script>
</html>