<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="~{layout/layout-aluno}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo)}">
</head>

<body>
    <header th:replace="~{fragments/aluno/menu :: menu-aluno}"></header>
    <div layout:fragment="content">
    <main>
        <div style="margin: 30px;">
            <h1 style="margin-top: 20px">Criar Processo de [[${aluno.nome}]]</h1>
            <hr>
        </div>
        <!--FORM DE PROCESSO-->
        <form class="container" th:action="@{/aluno/{idAluno}/processos/criar(idAluno=${aluno.id})}" method="post" th:object="${processo}">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Cadastrar processo</h1>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <input type="hidden" th:field="*{id}"><br>
                    <div class="mb-3 col-md-6">
                        <label for="assunto" class="form-label">Assunto:</label>

                        <select class="form-select" aria-label="Default select example" equired id="assunto" th:field="*{assunto}">
                            <option th:each="assunto:${assuntos}" th:value="${assunto.id}" th:text="${assunto.nomeDoAssunto}"></option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="justificativa" class="form-label">Justificativa:</label>
                        <textarea  class="form-control" th:field="*{textoRequerimento}" id="justificativa" rows="3"></textarea>
                        <p th:if="${#fields.hasErrors('textoRequerimento')}" th:errorclass="error" th:errors="*{textoRequerimento}" class="alert alert-danger"></p>
                    </div>
                    <!---<div class=" mb-3 col-md-6 input-group">
                        <label for="documento" class="form-label">Adicionar Documento:</label>
                        <input type="file" id="documento" th:field="*{documentos}"></input>
                    </div> --->
                    <div class="mb-3 col-md-6 input-group">
                        <label for="documento" class="form-label"></label>
                        <input type="file" id="documento" th:field="*{documentos}" class="form-control">
                    </div>
                    


                </div>
            </div>
            <div class="modal-footer">
                <a th:href="@{'/aluno/' + ${aluno.id} + '/processos'}" type="button" class="btn btn-secondary">Fechar</a>
                <button type="submit" class="btn btn-primary"
                    style="padding-left: 25px; padding-right:25px; margin-left: 10px;">Salvar</button>
            </div>
        </form>
    </main>
    
    <script th:src="@{/js/bootstrap.buddle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
</body>
</html>