<!DOCTYPE html>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
layout:decorate="~{layout/layout-aluno}">

<head>
    <meta th:insert="~{fragments/head-fragment :: head(titulo='Home do Aluno')}">
</head>

<body>
    <header th:replace="~{fragments/aluno/menu :: menu-aluno}"></header>
    <div layout:fragment="content">
    <main>
      <div class="container d-flex flex-column align-items-center">
        <h1>Bem Vindo ao Sistema Sisyphus</h1>
        <h2> [[${aluno.nome}]] </h2>
        <img th:src="@{/imagens/sisyphus-wallpaper.jpg}">
      </div>

    </main>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>   

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>