<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Colegiado - Página do Aluno</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <!--NAV BAR-->
    <nav class="navbar navbar-expand-lg bg-success p-2 text-white">
        <div class="container-fluid justify-content-center" id="navbarSupportedContent">
            <div>
                <a class="navbar-brand" href="#">
                    <img th:src="@{/imagens/sisyphus.png}" width="50" height="50">
                </a>
                <a class="navbar-brand text-white" href="#">SISYPHUS</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled text-white" aria-current="page" href="#">Processos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- LISTAGEM DE PROCESSOS-->
    <div style="margin: 30px;">
        <h1 style="margin-top: 20px">Processos [[${aluno.nome}]]</h1>
        <hr>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal"
                data-bs-whatever="@mdo">Cadastrar processo</button>
            <div class="btn-group">
                <div class="input-group mb-3" style="margin-right: 10px;">
                    <label class="input-group-text" for="filterAssunto">Assunto</label>
                    <select class="form-select" id="filterAssunto">
                        <option value="">Todos</option>
                        <option value="Criado">Trancamento</option>
                        <option value="Distribuído">Denuncia</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="filterStatus">Status</label>
                    <select class="form-select" id="filterStatus">
                        <option value="">Todos</option>
                        <option value="Criado">Criado</option>
                        <option value="Distribuído">Distribuído</option>
                        <option value="Em pauta">Em pauta</option>
                        <option value="Em julgamento">Em julgamento</option>
                        <option value="Julgado">Julgado</option>
                    </select>
                </div>
            </div>
        </div>

        <!--TABELA DE PROCESSOS-->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Assunto</th>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="processo:${processos}">
                    <td th:text="${processo.numero}"></th>
                    <td th:text="${processo.estadoProcesso}"></th>
                    <td th:text="${processo.assunto.nome}"></td>
                    <td th:text="${processo.dataCriacao}"></td>
                    <td>
                        <button type="button" class="btn btn-primary">Consultar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- MODAL PARA ADICIONAR PROCESSO-->
    
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--FORM DE PROCESSO-->
                <form th:action="@{'/aluno/' + ${aluno.id} + '/processos'}" method="post" th:object="${processo}">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">Cadastrar processo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <input type="hidden" th:field="*{id}"><br>
                            <div class="mb-3">
                                <label for="assunto" class="form-label">Assunto:</label>
                                <select required id="assunto" th:field="*{assunto}">
                                    <option th:each="assunto:${assuntos}" th:value="${assunto.id}" th:text="${assunto.nome}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="justificativa" class="form-label">Justificativa:</label>
                                <textarea  class="form-control" th:field="*{textoRequerimento}" id="justificativa" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="documento" class="form-label">Adicionar Documento:</label>
                                <input type="file" id="documento" th:field="*{documento}"></input>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            style="padding-left: 25px; padding-right:25px">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.buddle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


    <!-- FILTRO POR STATUS-->
    <script>
        $(document).ready(function () {
            $('#filterStatus, #filterAssunto').on('change', function () {
                var status = $('#filterStatus').val();
                var assunto = $('#filterAssunto').val();
                filterTable(status, assunto);
            });

            function filterTable(status, assunto) {
                var rows = $('table tbody tr');
                rows.show();

                if (status) {
                    rows.filter(':not(:contains("' + status + '"))').hide();
                }
                
                if (assunto) {
                    rows.filter(':not(:contains("' + assunto + '"))').hide();
                }
            }

            $.expr[":"].contains = $.expr.createPseudo(function (text) {
                return function (element) {
                    return $(element).text().toUpperCase().indexOf(text.toUpperCase()) >= 0;
                };
            });
        });
    </script>


    <!--FILTRO POR PESQUISA -->

    <script>
        $(document).ready(function () {
            $('#filterAssunto').on('input', function () {
                var assunto = $('#filterAssunto').val().toLowerCase();
                filterTable(assunto);
            });

            function filterTable(assunto) {
                var rows = $('table tbody tr');
                rows.show();

                rows.filter(function () {
                    var text = $(this).text().toLowerCase();
                    return (assunto && text.indexOf(assunto) === -1)
                }).hide();
            }
        });
    </script>

<!-- FOOTER -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Sisyphus - IFPB </span>
      </div>
    </footer>
    </div>

</body>
</html>